// colors
$black: #23272A;
$darkGray: #2C2F33;
$gray: #99AAB5;
$white: #fff;
$complimentary: #7289DA;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: $black;
}

.wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}