doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';")
        title KRAK3N

        link(rel="stylesheet", href="css/main.css")
    body 
        .wrapper
            .navigation
                .navigation__name Krak3n
                .navigation__close
            
            .menu
                .profit
                    .profit__title Profit
                    .profit__counter 0.00$
                .userCommandler
                    .dataInput
                        .dataInput__field
                            .dataInput__short
                                input(type="text" placeholder=" Enter your amount of lines") 
                            .dataInput__long
                                input(type="text" placeholder=" Were are you sell position?") 
                        .button Apply
                    hr
                
                //- .lines
                //-     .line
                //-         .line__data
                //-             .line__numberOfLine
                //-                 p Line
                //-                 .line__iterator 1
                //-             .dataInput
                //-                 .dataInput__field
                //-                     .dataInput__short
                //-                     .dataInput__long
                //-                 .button
                //-             .line__profit

                //-         .line__hr


                        

        script(src="js/source.js") 
